@use "variables";
#about {
  padding: 200px 0;
}
.about__navbar {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
  .about__header {
    .about__paragrph {
      color: var(--unnamed, #333);
      font-family: Manrope;
      font-size: 55px;
      font-style: normal;
      font-weight: 500;
      line-height: 65px;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
    .about__section {
      margin-bottom: 29px;
      color: var(--unnamed, #333);
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    .about__btns {
      display: flex;
      gap: 10px;
      margin-bottom: 100px;
      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
      .btn1 {
        padding: 14px 30px;
        color: var(--unnamed, #fff);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        border: none;
        border-radius: 250px;
        background-color: variables.$btn-background;
      }
    }
  }
  .about__pic img {
    width: 100%;
  }
}
.about__boxs-item {
  margin-top: 90px;
  //   width: 1170px;
  //   height: 254px;
  border-radius: 20px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  .about__box-paragraph {
    padding: 40px 0px 35px 55px;
    color: var(--unnamed, #333);
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
  .about__boxs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
      .line {
        display: none;
      }
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .about__box {
    display: flex;
    gap: 95px;
    padding-left: 55px;
    .about__box-number {
      padding-bottom: 8px;
      font-family: Manrope;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 48px;
      background: var(
        --2,
        linear-gradient(122deg, #9021ac 33.46%, #c8459f 75.87%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .about__box-text {
      color: var(--unnamed, #333);
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      padding-bottom: 90px;
    }
    .line {
      width: 1px;
      height: 86px;
      background: #c7c7c7;
    }
  }
}
